
a {
color: white; text-decoration: none;
}

a:hover {
color: white; text-decoration: underline;
cursor: pointer;
/*왜 이거 지정 안하면 손가락모양 안나오는지?*/
}

a:visited {
color: white; text-decoration: none;
}


#table {
   font-family: 나눔스퀘어;
   /*font-size: 12pt;*/
   }
   
#table .tdCenter {
     text-align: center;
   }
   
   #innerTable {
   width: 100%;
  /* height: 100%;*/
     
   }
   
   #innerTable #td {
   text-align: right;
   height: 40px;
   }
   
   #innerTable #td2 {
   vertical-align: middle;
   min-height: 300px;
   min-width: 400px;
   }
   
   #innerTable td p {
   text-align: center;
   }
   
   #innerTable td a img:hover {
   /*width: 100%;*/
   position: relative;
   animation: eee .1s infinite;
   }
   
   @keyframes eee {
   0% {left:0;}
   50% {left:5px;}
   100% {left:0;}
   }
   
   #innerTable div img {
   width: 30px;
   height: 30px;
   opacity: 0.7;
   }
   
	.checkbox-wrap { cursor: pointer; }
	
	.checkbox-wrap .favorite-icon  { 
		display: inline-block; 
		width: 18px; 
		height: 18px;
		background: url(../images/4a9f2e74fd8dca739cc93c7f3f0acd4c_star-grey-clip-art-gray-star-clipart_299-288.png) left center no-repeat; 
		background-size: cover;
		vertical-align: middle;
	}
	
	.checkbox-wrap .like-icon  { 
		display: inline-block; 
		width: 18px; 
		height: 18px;
		background: url(../images/heart_256x256-32.png) left center no-repeat; 
		background-size: cover;
		vertical-align: middle;
	}
	.declare-icon  { 
		display: inline-block; 
		width: 18px; 
		height: 18px;
		background: url(../images/vector_325_09-512.png) left center no-repeat; 
		background-size: cover;
		vertical-align: middle;
	}
	
	.checkbox-wrap input[type=checkbox] { display: none; }
	.checkbox-wrap input[type=checkbox]:checked + .favorite-icon { 
		background: url(../images/star_PNG1594.png);
		background-size: cover;
	}
	.checkbox-wrap input[type=checkbox]:checked + .like-icon { 
		background: url(../images/678087-heart-128.png);
		background-size: cover;
	}
	
		
	.delete-icon  { 
		display: inline-block; 
		width: 18px; 
		height: 18px;
		background: url(../images/icon-nav-close.png) left center no-repeat; 
		background-size: cover;
		vertical-align: middle;
	}
	