<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>
<script type="text/javascript" src="/ogeul/js/findPwd.js"></script>
<script type="text/javascript" src="/ogeul/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
	window.onload = function() {
		document.getElementById("name").focus();
	}
</script>
<style>
.button {
	font-size: 11pt;
	color: white;
	font-family: "아리따-돋움(TTF)";
	background-color: #353535;
	border-color: white;
	border-width: 0px;
	padding: 5px;
	border-radius: 5px;
	margin-top: 2px;
}

.button:hover {
	cursor: pointer;
}

div {
	align: center;
	width: 500px;
	height: 300px;
	border: 1px solid red;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	margin: auto;
}
</style>
</head>
<body style="font-family: '아리따-돋움(TTF)';">
	<form action="/ogeul/findpwd" method="post">
		<div align="center">
			<table>
				<tr>
					<td>이름</td>
					<td><input type="text" id="name" name="name"
						onchange="removeBorder(this);"></td>
				</tr>
				<tr>
					<td>아이디</td>
					<td><input type="text" name="id"
						onchange="removeBorder(this);"></td>
				</tr>
				<tr>
					<td>핸드폰 번호</td>
					<td><input type="text" name="phone_pre" size="3"
						onchange="removeBorder(this);"> - <input type="text"
						name="phone_middle" size="4" onchange="removeBorder(this);">
						- <input type="text" name="phone_tail" size="4"
						onchange="removeBorder(this);"></td>
				</tr>
				<tr>
					<td colspan="2" align="right"><input class="button"
						type="submit" value="FIND PWD"> &nbsp;
						  <button class="button" type="button" onclick="alert('비밀번호 찾기를 취소합니다');location.href='loginForm.html';"
                   >로그인 페이지로 이동</button>
					</td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>